<ion-content [fullscreen]="true" [scrollY]="false">
    <ion-fab class="map-fab" horizontal="start" vertical="top" slot="fixed">
        <ion-fab-button>
            <ion-icon name="layers-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
            <ion-fab-button [color]="selectedLayer === baseLayer.osm ? 'danger' : 'primary'" (click)="switchLayer(baseLayer.osm)">
                <ion-icon name="map-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button [color]="selectedLayer === baseLayer.offline ? 'danger' : 'primary'" (click)="switchLayer(baseLayer.offline)">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="locate()">
        <ion-fab-button>
            <ion-icon name="locate"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="map-full" leaflet [leafletOptions]="settingsService.options" (leafletMapReady)="onMapReady($event)"></div>
    <upz-analysis *ngIf="task != null"></upz-analysis>
</ion-content>
