.map-full {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.map-fab {
    position: absolute;
    left: 6%;
    width: 100%;
}

upz-analysis {
    position: absolute;
    bottom: 8%;
    width: 100%;
}
