.webcam-cont {
    width: 100% !important;
    height: 100% !important;
}

.camera-holder {
    width: 100% !important;
    height: 100% !important;
}

// #close {
//     left: calc(50% - 25px);
//     bottom: 30px;
//     position: absolute;
// }

// #next {
//     left: calc(50% + 125px);
//     bottom: 30px;
//     position: absolute;
// }

// #capture {
//     left: calc(50% - 125px);
//     bottom: 30px;
//     position: absolute;
// }
